<div class="nested-fields">
  <div class="field">
    <%= f.label "投稿者　" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "コメント" %>
    <%= f.text_field :content %>
  </div>

  <%= link_to_remove_association "コメントを削除します", f %>
</div>