<%= form_for @book do |f| %>
  <div id="comments">
    <%= f.fields_for :comments do |comment| %>
      <%= render 'comment_fields', f: comment %>
    <div class="links">
      <%= link_to_add_association "コメントを追加する", f, :comments %><br/>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>