<h1>管理画面</h1>

<%= form_for @book do |f| %>



<h2>題名：<%= f.text_field :title %></h2>
<p>価格：<%= f.text_field :price %></p>
<p>説明：<%= f.text_field :description %></p>
<p>評価：<%= f.text_field :rate %></p>
<p><%= f.submit "更新する" %></p>
<% end %>
<p><%= link_to "削除する", book_path(@book.id),method: :delete, data: { confirm: "削除しますか？"} %></p>

<!-- ーーーここから引用ーーーーーーーーーーーー -->

<hr>
<h2>引用</h2>

<% @book.quotations.each do |quotation| %>
<p>引用：<%= quotation.body %></p>
<p><%= link_to "引用を削除する", "/books/#{quotation.book_id}/quotations/#{quotation.id}", method: :delete ,data:{ confirm: "引用を削除しますか？"} %></p>
<a>-----------------------------------------</a>
<% end %>

<h3>新しく引用する</h3>
<%= form_for [@book,@book.quotations.build] do |f| %>
<p><%= f.text_field :body %></p>
<p><%= f.submit "引用を追加する" %></p>
<% end %>


<!-- ーーーここからコメントーーーーーーーーーー -->

<hr>
<h2>コメント</h2>

<% @book.comments.each do |comment| %>
<p>投稿者：<%= comment.name %></p>
<p>コメント：<%= comment.content %></p>
<p><%= link_to "コメントを削除する", book_comment_path(comment.book_id, comment.id), method: :delete , data: { confirm: "コメントを削除しますか？"} %></p>
<a>-----------------------------------------</a>
<% end %>

<h3>新しくコメントする</h3>
<%= form_for [@book,@book.comments.build] do |f| %>
<p>名前：<%= f.text_field :name %></p>
<p>コメント：<%= f.text_field :content %></p>
<p><%= f.submit "コメントを送信" %></p>
<% end %>



<p><%= link_to "Home", root_path %></p>




