<h1>詳細ページ</h1>
<h2>題名：<%= @book.title %></h2>
<p>価格：<%= @book.price %>円</p>
<p>説明：<%= @book.description %></p>
<p>評価：<%= @book.rate %></p>


<!-- ーーーーここから引用ーーーーーーーーーーーーーー -->

<hr>
<%= render 'form' %>


<p><%= link_to "Home", root_path %></p>


